<
    <div class="col">
        <form action="/alat_tangkap/update/<%= id %>" method="POST">
            <div class="mb-3">
                <label for="nama" class="form-label">nama alat_tangkap</label>
                <input type="text" class="form-control" name="nama_alat_tangkap" value="<%= nama_alat_tangkap%>" required>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-sm btn-success">simpan</button>
            </div>
        </form>
    </div>
