<%- include("../partials/head.ejs") %>

<!DOCTYPE html>
<html lang="ens">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col">
        <h1>Hello: <%= email %> </h1> <a href="/logout">logout</a>
        </div>
        </div>
        </div>
</body>
</html>

<%- include("../partials/foot.ejs") %>